@import '~bootstrap/scss/bootstrap';
.logo {
    width: 100px;
}

/* CARDS */
.card-text {
    position:relative;
}

.card {
    width: 304px;
    color:white;
}

.card-img-top {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 300px;
    object-fit: contain;
    width: 100%;
}

/* PARTIALS */

.myfooter {
    background-color: #d03641;
}
